# Mail Configuration
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=your-email@gmail.com
MAIL_PASSWORD=your-app-password
MAIL_DEFAULT_SENDER=your-email@gmail.com

# Model Configuration
MODEL_URL=https://github.com/shob0902/Deepfake-Detection-Model/raw/main/best_deepfake_resnet18.pth

# Flask Configuration
FLASK_ENV=production
PORT=5000
